body{
  overflow: hidden;
  //background: $smoke;
  font-family: $font-family-sans-serif;
  color: $jet;

  a{
    color: #87d0e3;

    &:visited{
      color: #87d0e3;
    }

    &:link{
      color: #87d0e3;
    }
  }

  h1, h2, h3, h4{
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  h3 {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    //padding: 0.5rem;
    line-height: 1rem;
    font-size: 2.5rem;
  }

  .container{
    height: 100vh;
    width: 100%;
  }

  button{
    border: none;
    color: $smoke;
    text-transform: uppercase;
    background: $secondary-color;
    padding: 1rem 1.5rem;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    outline: none;
  }

  .row-md{
    display: inline-block;
  }

  .slideContainer{
    width: 200%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .slide{
      position: relative;
      width: 50%;
      height: 100%;
      float: left;
      display: inline-block;
      -webkit-transition: transform 0.3s;
      -moz-transition: transform 0.3s;
      -ms-transition: transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      //
      //&#slider-1{
      //  -webkit-transform: translateX(0%);
      //  -moz-transform: translateX(0%);
      //  -ms-transform: translateX(0%);
      //  -o-transform: translateX(0%);
      //  transform: translateX(0%);
      //}

      &.move{
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
      }

      &.moveOpposite{
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
      }

      .moreInfo{
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        height: 2rem;
        width: 2rem;
        font-size: 2rem;
        cursor: pointer;
        opacity: 0.7;

        &.left{
          right: auto;
          left: 1rem;
        }
      }
    }
  }

  ::-webkit-scrollbar
  {
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
  }

  ::-webkit-scrollbar-track
  {
    background: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb
  {
    background: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 640px) {
  #skyContainer{

    #toggleAllInfo{
      top: 0.3rem !important;
      right: 0.3rem !important;
    }

    #designBriefToggle{
      left: 0.3rem !important;
      top: 0.3rem !important;
    }

    .moreInfo {
      bottom: 0;
      right: 0;
      font-size: 1.5rem;

      &.left {
        right: auto;
        left: 0;
      }
    }

    .oneHalf{

      .halfBoxHeader{
        top: -1rem !important;
        font-size: 0.6rem !important;
      }

      .mainInfo{
        height: calc(100% - 3rem) !important;

        &#likeBurstContainer{
          position: relative;
          top: -1.5rem;
        }
      }

      &.tickerContainer{

        .sunburstRadio{
          z-index: 10;

          label{
            font-size: 0.8rem;
          }
        }

        #sunburstTooltip{
          font-size: 0.8rem;
          z-index: 15;
          border-width: 1px;
          width: 30%;
          padding: 0.3rem;
          -webkit-border-radius: 0.3rem;
          -moz-border-radius: 0.3rem;
          border-radius: 0.3rem;
        }

        #lifetimeLikes{
          top: 0;

          .fa-thumbs-up{
            font-size: 2rem !important;
            padding-right: 0.8rem;
          }

          #currentLikes{
            font-size: 2rem !important;
          }

        }

        #dateTicker{
          top: 0;

          #currentDate{
            padding: 0 0 0 0.2rem !important;
          }
        }
      }

      &#detailsOnDemand{
        #bubbleStat{
          top: 0;

          h2{
            font-size: 1.3rem;
            width: 80%;
            margin: 0.5rem auto 0;
          }


          .fa-thumbs-up{
            font-size: 2rem !important;
            padding-right: 0.8rem;
          }

          #dailyLikes{
            font-size: 2rem !important;
          }
        }

        #bubbleDate{
          top: 0;

          #selectedDate{
            padding: 0 0 0 0.3rem !important;
          }
        }
      }
    }
  }

  #oceanContainer{

    #animationControls.toggled{
      -webkit-transform: translate3d(0, 35%, 0) !important;
      -moz-transform: translate3d(0, 35%, 0) !important;
      -ms-transform: translate3d(0, 35%, 0) !important;
      -o-transform: translate3d(0, 35%, 0) !important;
      transform: translate3d(0, 35%, 0) !important;

      .row-md {
        display: block;
        margin: 0;
      }

      .controlGroup{
        margin-bottom: 1rem;
      }
    }
  }

  #modal{
    top: 3%;
    left: 3%;
    padding: 2% 2%;
    width: 90%;
    height: 82%;
  }

}